main {
    padding-top: 105px;
}

form {
    background: url('ilustra-contato.png') 100% 50% no-repeat;
}

fieldset {
    border: none;
}

legend {
    font-weight: 700;
    font-size: 40px;
    color: #FF4081;
    float: left;
    margin: 0 0 44px 0;
}

form div {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 15px 0;
}

form input[type=text], form input[type=email], form textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #686868;
    border-radius: 7px;
    padding: 10px 21px;
    box-sizing: border-box;
}

form input[type=submit] {
    color: white;
    background-color: #FF4881;
    padding: 10px 21px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
}

@media only screen and (max-width:769px) {

    form {
        padding: 0;
        background-image: none;
        box-sizing: border-box;
        
    }




}