.titulo {
    margin: 81px 0 95px 82px;
}
.titulo h1 {
    font-weight: 700;
    font-size: 60px;
    color: #FF4081;
}
.titulo h2 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
}
.primeira {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 68px;
}
.texto {
    max-width: 724px;
}
.texto h1 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
    margin-bottom: 37px;
}
.texto p {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 53px;
}
.linha {
    margin: 0 0 0 80px;
    padding-bottom: 100px;
    width: 80%;
}
.texto a {
    background: #419488;
    border-radius: 62px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 50px;
    height: 4.4262382295047%;
}

@media only screen and (max-width: 769px) {
    .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    .texto a {
        padding-bottom: 25px;
    }
    .texto h1 {
        margin-top: 20px;
    }
    .texto p {
        width: 80%;
    }
}